.indice {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.azul {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 40px 0;
    color: #0048e2;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    margin-right: 50px;
        
}
.azul:hover {
    background-color: #0048e2;
    color: #050801;
    box-shadow: 0 0 5px #0048e2, 
    0 0 25px #0048e2, 
    0 0 50px #0048e2,
    0 0 200px #0048e2;
    -webkit-box-reflect: below 1px linear-gradient
    (transparent, #0005); 
}
.azul:nth-child(1){
    filter: hue-rotate(#0048e2);
}
.azul:nth-child(2){
    filter: hue-rotate(#0048e2);
}

.azul1 {
    position: absolute;
    display: flex;
}
.azul1:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(900deg, transparent, #0048e2);
    animation: animatel 1s linear infinite;
}

@keyframes animatel {
    0%{
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}
.azul1:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #0048e2);
    animation: animatel2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animatel2 {
    0%{
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
   }
}

.azul1:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #0048e2);
    animation: animatel3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animatel3 {
    0%{
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}
.azul1:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #0048e2);
    animation: animatel4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animatel4 {
    0%{
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}
